* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Edu VIC WA NT Beginner", cursive, arial;
}

:root {
    --font-color-nav: #7F5C6D;
    --hover-color-nav: #851a4e;
    --background-color-nav: #DED9D2;
    --btn-color: #7f5c6d5b;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color-nav);
    box-shadow: rgba(0, 0, 0, 0.35) -1px -4px 36px -28px inset;
}

nav div {
    display: flex;
}

nav img {
    margin-right: 15px;
    width: 50px;
}

nav h1 {
    font-size: 35px;
    font-weight: 800;
    color: var(--font-color-nav);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar li {
    padding: 0 30px;
    margin: 20px 0;
}

.navbar li a {
    transition: all 0.3s ease;
    color: var(--font-color-nav);
    font-size: 20px;
    font-weight: 900;
}

.navbar li a:hover {
    color: var(--hover-color-nav);
}

/* dropdown in navbar furniture option */
.navbar .dropdown {
    position: absolute;
    z-index: 99900;
    display: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 0 1px var(--font-color-nav);
    background-color: var(--background-color-nav);
}

.dropdown li img {
    width: 25px;
    display: column;
    align-items: center;
    justify-content: center;

}

.navbar li:hover ul.dropdown {
    display: block;
}

/* menu icon on navbar for small screens */
#menu-icon {
    font-size: 35px;
    color: var(--font-color-nav);
    cursor: pointer;
    z-index: 1000;
    display: none;
}

/*  small screen navbar menu icon */
@media (max-width:725px) {
    nav {
        justify-content: space-between;
    }

    nav div {
        margin: 10px;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 68px;
        right: -100%;
        width: 270px;
        background-color: var(--background-color-nav);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        transition: all 0.3s ease;
        z-index: 9999;
    }

    .navbar {
        display: none;
    }

    .navbar.open {
        transition: all 0.5s ease;
        display: flex;
        right: 5px;
    }
}


/* 4k screen navbar */
@media (min-width:2300px) {
    nav img {
        width: 100px;
        height: 100px;
        margin: 20px 0;
    }

    nav h1 {
        font-size: 80px;
        font-weight: 700;
        padding-top: 15px;
    }

    .navbar li a {
        font-size: 50px;
    }

}

@media (max-width:1024px) {
    nav img {
        width: 44px;
        height: 44px;
        margin: 0;
    }

    nav h1 {
        font-size: 35px;
        font-weight: 800;
    }

    .navbar li {
        padding: 0 20px;
        margin: 20px 0;
    }

    .navbar li a {
        font-size: 20px;
    }

    .dropdown li img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

/* slideshow on main page css */
main .carousel {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;

}

.carousel li {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 500ms opacity ease-in-out;
    transition-delay: 500ms;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

.carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel_btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: var(--hover-color-nav);
    font-size: 60px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ded9d23d;
    margin: 10px;
    padding: 10px 10px;

}

.carousel .prev {
    left: 10px;
}

.carousel .prev span {
    position: relative;
    left: 15%;
}

.carousel .next {
    right: 10px;
}

.carousel button span {
    font-size: 60px;
}

.carousel button:hover {
    background-color: var(--background-color-nav);
    color: var(--hover-color-nav);
}

.intro {
    position: relative;
}

.intro .box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}

.intro_writings {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 55vh;
}

.intro_heading {
    font-size: 80px;
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
    padding: 25px 0 0 0;
    color: var(--background-color-nav);

}

.intro_description {
    font-size: 30px;
    text-align: center;
    width: 80vw;
    margin: auto;
    padding: 40px 0 0 0;
    color: var(--background-color-nav);
}

@media (min-width:2300px) {
    .intro_heading {
        font-size: 150px;
    }

    .intro_description {
        font-size: 60px;
    }
}

@media (max-width:680px) {

    .intro_writings {
        position: absolute;
        top: 10vh;
        height: 10vh;
    }
}

@media (max-width:397px) {

    .intro_description {
        font-size: 18px;
    }
}
/*************** Products section ***********************/
.product_grid{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_grid > h2{
    position: relative;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
}
.products{
    display: grid;
    grid-template-columns: repeat(3,320px);
    grid-template-rows: repeat(2,480px);
    row-gap: 30px;
    column-gap: 30px;
    height: 100vh;
    position: relative;
    top: 120vh;
    
}
.product_card {
    position: relative;
    width: 320px;
    height: 480px;
    background: var(--background-color-nav);
    border-radius: 20px;
    overflow: hidden;
}

.product_card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    transform: skewY(345deg);
    transition: 0.5s;
}

.product_card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.product_card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.product_card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imgBox img {
    max-width: 100%;
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
}

.product_card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.product_card .contentBox h3 {
    font-size: 18px;
    color: var(--hover-color-nav);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_card .contentBox .price {
    font-size: 24px;
    color: var(--hover-color-nav);
    font-weight: 700;
    letter-spacing: 1px;
}

.product_card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: var(--background-color-nav);
    text-decoration: none;
    background: var(--hover-color-nav);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.product_card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.mouse {
    height: 300px;
    width: auto;
}

@media (max-width:1260px) {
    .products{
        
        grid-template-columns: repeat(2,320px);
        grid-template-rows: repeat(3,480px);
        
    }
}


/******************** projects ***********************/
.projects {
    position: relative;
    overflow: none;
    width: 100%;
    height: 100vh;
    top: 100vh;
    background-color: var(--background-color-nav);
}

.projects h1 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 50px;
    color: var(--hover-color-nav);
    transition: all 0.3s ease;
}

.swiper-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.card_article {
    padding: 10px;
    width: 500px;
}

.card_img {
    position: relative;

}

.card_img img {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 300px;
    width: 480px;
    object-fit: cover;
    object-position: center;
    margin-bottom: -.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card_data {
    background-color: var(--btn-color);
    height: 110px;
    padding: 1rem 2rem .75rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.card_name {
    font-size: 30px;
    color: var(--hover-color-nav);
}

.card_button {
    background-color: var(--font-color-nav);
    color: var(--background-color-nav);
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card_button:hover {
    background-color: var(--background-color-nav);
    color: var(--hover-color-nav);
}

.project-view-more {
    background-color: var(--hover-color-nav);
    color: var(--background-color-nav);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* width: ; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border: 3px solid var(--hover-color-nav);
    transition: 0.3s ease;
}

.project-view-more:hover {
    background-color: var(--background-color-nav);
    color: var(--hover-color-nav);
    border: 3px solid var(--hover-color-nav);
}


@media (min-width:2500px) {
    .projects {
        height: 55vh;
    }

    .projects h1 {
        font-size: 80px;
        padding-bottom: 100px;
    }

}

@media (max-width:1199px) {
    .card_img img {
        height: 250px;
        width: 400px;
    }

    .card_data {
        height: 80px;
        width: 400px;
    }

    .card_article {
        width: 425px;
    }

    .card_data {
        height: 110px;
    }
}

@media (max-width:940px) {
    .card_img img {
        height: 200px;
        width: 350px;
    }

    .card_data {
        height: 50px;
        width: 350px;
    }

    .card_article {
        width: 370px;
    }

    .card_data {
        height: 90px;
    }

    .card_name {
        font-size: 20px;
    }

    .card_button {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .projects {
        height: 120vh;
    }

    .swiper-wrapper {
        display: block;
        margin-top: 10px;

    }

    .card_article {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width:768px) {
    .projects {
        height: 100vh;
    }

    .card_img img {
        height: 150px;
        width: 250px;
    }

    .card_data {
        height: 30px;
        width: 250px;
    }

    .card_article {
        width: 270px;
    }

    .card_data {
        height: 78px;
    }

    .card_name {
        font-size: 15px;
    }

    .card_button {
        font-size: 8px;
    }

    .project-view-more {
        margin-top: 15px;
        font-size: 15px;
    }

}

footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 100vh;
    height: 50vh;
    width: 100%;
    background-color: var(--hover-color-nav);
}

.footer-logo {
    font-size: 40px;
    display: flex;
    align-items: center;
    /* color: var(--background-color-nav); */
}

.footer-logo img {
    height: 70px;
}

.footer-logo a {
    color: var(--background-color-nav);
}

.navbar_footer {
    display: flex;
    align-items: center;
}

.navbar_footer ul li {
    padding-bottom: 30px;

}

.navbar_footer ul li a {
    color: var(--background-color-nav);
    font-size: 20px;
    font-weight: 600;
}

.contact_footer {
    position: relative;
    top: 15%;
    height: 80px;
    color: var(--background-color-nav);

}

.contact_footer>h5 {
    margin-bottom: 30px;
    font-size: 30px;

}

.footer-location,
.footer-phone,
.footer-mail {
    display: flex;
    padding-bottom: 20px;
}

.contact_footer span {
    margin-right: 10px;
}

/* @media (max-width:1199px) {
    footer {
        top: 140vh;
    }
} */

@media (max-width: 630px) {
    .footer-logo {
        font-size: 20px;
    }

    .navbar_footer ul li a {
        font-size: 15px;
    }

    .contact_footer h5 {
        font-size: 12px;

    }
}

@media (max-width: 430px) {
    .footer-logo img {
        display: none;
    }

}